<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="File">
        <v:variable.set name="file" value="{file.originalResource}" />
        <li>
            <div>
                <a href="{file.publicUrl}" target="_blank" {f:if(condition: file.title, then: ' title="{file.title}"')}{f:if(condition: file.originalFile.properties.extension, then: ' data-extension="{file.originalFile.properties.extension}"')}>
                    <span class="ce-uploads-fileName">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</span>
                    <span class="ce-uploads-filesize"><f:format.bytes value="{file.properties.size}"/></span>
                </a>
            </div>
        </li>
    </f:section>

</html>