{namespace evo=Crossconcept\EvolineProducts\ViewHelpers}

<f:section name="Filter">
    <f:if condition="{categoriesCount} > 1}">
        <ul class="filter-list list-products-filter">
            <f:groupedFor each="{categories}" as="categoryGroup" groupBy="parent" groupKey="parentCategory">

                <v:variable.set name="parentTitle" value="{f:translate(key: 'label.all', arguments: '{0: parentCategory.title}')}" />
                <v:variable.set name="selectedCategory" value="{selectedCategories.{parentCategory.uid}}" />

                <li class="filter-item{f:if(condition: '{selectedCategory}', then: ' active')}">
                    <f:if condition="{selectedCategory}">
                        <f:then>
                            <a href="#" data-toggle="dropdown" role="button" title="{selectedCategory.title}">{selectedCategory.title}</a>
                        </f:then>
                        <f:else>
                            <a href="#" data-toggle="dropdown" role="button" title="{parentTitle}">{parentTitle}</a>
                        </f:else>
                    </f:if>
                    <ul class="dropdown-menu filter-dropdown-menu">
                        <f:if condition="{selectedCategory}">
                            <li class="filter-item all">
                                <f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0: '{evo:filter.category(key: parentCategory.uid)}'}" title="{parentTitle}">{parentTitle}</f:link.action>
                            </li>
                        </f:if>
                        <f:for each="{categoryGroup}" as="category">
                            <f:if condition="{selectedCategory} != {category}">
                                <li class="filter-item test">
                                    <f:link.action action="list" arguments="{evo:filter.category(key: category.parent.uid, value: category.uid)}" addQueryString="TRUE" title="{category.title}">{category.title}</f:link.action>
                                </li>
                            </f:if>
                        </f:for>
                    </ul>
                </li>

            </f:groupedFor>
        </ul>
    </f:if>
</f:section>
