<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Product">
        <div class="col-lg-3 col-lg-4 col-sm-6">
            <f:link.action action="show" pageUid="{product.showpid}" class="product-link">
                <div class="product-list-item">
                    <div class="product-head">
                        <h3 class="product-title">
                            <f:if condition="{product.showevoline}">
                                <span class="evo-label">{f:translate(key: 'label.evoline') -> f:format.html(parseFuncTSPath: '')}</span>
                            </f:if>
                            {product.title}
                        </h3>
                    </div>
                    <f:if condition="{product.thumbnail}">
                        <div class="product-image">
                            <f:image src="{product.thumbnail.uid}"
                                     treatIdAsReference="1"
                                     maxWidth="767"
                                     maxHeight="575"
                                     class="img-responsive"
                                     alt="{product.title}" />
                        </div>
                    </f:if>
                </div>
            </f:link.action>
        </div>
    </f:section>
</html>