<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Productnav">
        <li class="product-listPinned-list-item">
            <f:link.action action="show" pageUid="{product.showpid}" class="product-link">
                <div class="product-listPinned-item">
                    <div class="product-body">
                        <f:if condition="{product.thumbnail}">
                            <div class="product-image">
                                <f:image src="{product.thumbnail.uid}"
                                         treatIdAsReference="1"
                                         width="164c"
                                         height="96"
                                         class="img-responsive"
                                         alt="{product.title}" />
                            </div>
                        </f:if>
                    </div>
                    <div class="product-head">
                        <h3 class="product-title">
                            <f:if condition="{product.showevoline}">
                                <span class="evo-label">{f:translate(key: 'label.evoline') -> f:format.html(parseFuncTSPath: '')}</span>
                            </f:if>
                            {product.title}
                        </h3>
                    </div>
                </div>
            </f:link.action>
        </li>
    </f:section>
</html>
