<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Modulecategory">
        <div class="col-md-4 col-sm-6">
            <f:link.action action="list" controller="Module" arguments="{modulecategory: modulecategory}" pageUid="{modulecategory.listpid}" class="modulecategory-link">
                <div class="modulecategory-list-item">
                    <div class="modulecategory-head">
                        <h3 class="modulecategory-title">
                            {modulecategory.title}
                        </h3>
                    </div>
                    <f:if condition="{modulecategory.thumbnail}">
                        <div class="modulecategory-image">
                            <f:image src="{modulecategory.thumbnail.uid}"
                                     treatIdAsReference="1"
                                     maxWidth="767"
                                     maxHeight="575"
                                     class="img-responsive"
                                     alt="{modulecategory.title}" />
                        </div>
                    </f:if>
                </div>
            </f:link.action>
        </div>
    </f:section>
</html>