<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Main">

        <div class="list accessory-list">
            <f:if condition="{accessories}">
                <div class="row">
                    <f:for each="{accessories}" as="accessory">
                        <f:render section="Accessory"
                                  partial="Accessory/ListItem"
                                  arguments="{_all}" />
                    </f:for>
                </div>
            </f:if>
        </div>

    </f:section>
</html>