<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Main">
        
        <f:flashMessages/>
        
        <f:form action="create" name="newInquiryStep3" enctype="multipart/form-data" class="inquiry-form" object="{newInquiryStep3}">
            <f:if condition="{settings.displaySummary}">
                <f:render partial="InquiryStep3/Summary" arguments="{_all}"/>
            </f:if>
            <f:render partial="InquiryStep3/FormFields" arguments="{_all}"/>
            <f:render partial="FormErrors" arguments="{object: InquiryStep3}"/>
            <div class="clearfix">
                <f:link.action action="new" controller="InquiryStep2" class="btn btn-default btn-prev">{f:translate(key: 'form.prev')}</f:link.action>
                <f:form.button type="submit" class="btn btn-primary btn-next pull-right">{f:translate(key: 'form.submit')}</f:form.button>
            </div>
            <p class="required-info">
                <small>{f:translate(key: 'form.required.info')}</small>
            </p>
        </f:form>

    </f:section>

    <f:section name="Pagination">
        <f:render partial="Pagination/Pagination" arguments="{step: 1}"/>
    </f:section>
    
</div>
