<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Module">
        <div class="col-md-3 col-sm-6">
            <div class="module-list-item">
                <div class="module-head">
                    <h3 class="module-title">
                        {module.title}
                    </h3>
                </div>
                <f:if condition="{module.thumbnail}">
                    <div class="module-image">
                        <f:image src="{module.thumbnail.uid}"
                                 treatIdAsReference="1"
                                 maxWidth="767"
                                 maxHeight="575"
                                 class="img-responsive"
                                 alt="{module.title}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:section>
</html>