<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="Main">

    <ul class="list product-listPinned mega-menu">
        <f:if condition="{products}">
            <f:for each="{products}" as="product">
                <f:render section="Productnav"
                          partial="Product/ListPinnedItem"
                          arguments="{_all}" />
            </f:for>
        </f:if>
        <f:if condition="{furtherProducts} > 0">
            <li class="product-listPinned-list-item product-listPinned-list-item-further">
              <f:link.page pageUid="{settings.listpid}" class="product-link" title="{f:translate(key: 'label.furtherProducts.label')}">
                  <div class="product-listPinned-item further">
                      <div class="product-body">
                          <span class="furtherProducts-number"><f:translate key="label.furtherProducts.number" arguments="{0: furtherProducts}"/></span>
                      </div>
                      <div class="product-head">
                          <span class="furtherProducts-label"><f:translate key="label.furtherProducts.label" /></span>
                      </div>
                  </div>
              </f:link.page>
            </li>
        </f:if>
    </ul>

</f:section>
</html>
