<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Main">

        <f:if condition="{settings.list.filter}">
            <f:render section="Filter" partial="Product/Filter" arguments="{_all}" />
        </f:if>

        <div class="list product-list">
            <f:if condition="{products}">
                <f:then>
                    <div class="row">
                        <f:for each="{products}" as="product">
                            <f:render section="Product"
                                      partial="Product/ListItem"
                                      arguments="{_all}" />
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <div class="alert">{f:translate(key: 'label.noProducts')}</div>
                </f:else>
            </f:if>
        </div>

    </f:section>
</html>