<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Main">
        <f:if condition="{images} || {videos}">

            <div class="frame-layout-130">
                <div class="ce-gallery ce-gallery-lightbox">
                    <div class="ce-row">
                        <f:if condition="{videos}">
                            <f:for each="{videos}" as="video">
                                <div class="ce-column video-column">
                                    <f:render section="Video" partial="Product/Media/Video" arguments="{_all}" />
                                </div>
                            </f:for>
                        </f:if>
                        <f:if condition="{images}">
                            <f:for each="{images}" as="image">
                                <div class="ce-column image-column">
                                    <f:render section="Image" partial="Product/Media/Image" arguments="{_all}" />
                                </div>
                            </f:for>
                        </f:if>
                    </div>
                </div>
            </div>

            <v:asset.style path="fileadmin/Resources/Public/Css/Vendor/magnific-popup.css" name="magnific-popup-css" />
            <v:asset.script path="fileadmin/Resources/Public/JavaScript/Vendor/jquery.magnific-popup.js" name="magnific-popup-js" movable="1" />

        </f:if>
    </f:section>
</html>