<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Accessory">
        <div class="col-md-3 col-sm-6">
            <div class="accessory-list-item">
                <div class="accessory-head">
                    <h3 class="accessory-title">
                        {accessory.title}
                    </h3>
                </div>
                <f:if condition="{accessory.description}">
                    <div class="accessory-description">
                        {accessory.description -> f:format.html()}
                    </div>
                </f:if>
                <f:if condition="{accessory.thumbnail}">
                    <div class="accessory-image">
                        <f:image src="{accessory.thumbnail.uid}"
                                 treatIdAsReference="1"
                                 maxWidth="767"
                                 maxHeight="575"
                                 class="img-responsive"
                                 alt="{accessory.title}" />
                    </div>
                </f:if>
            </div>
        </div>
    </f:section>
</html>