{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="row">

	<div class="col-lg-5 col-sm-6">
		<f:render section="Calendar" arguments="{_all}" />
	</div>
	<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-0 col-sm-6">
		<f:render section="Timeslots" arguments="{_all}" />
	</div>

	<f:comment><!-- CSS Assets --></f:comment>
	<v:asset.style path="EXT:cc_appointment/Resources/Public/Css/Vendor/bootstrap-datetimepicker.min.css" name="bootstrap-datetimepicker-css" />
	<v:asset.style path="EXT:cc_appointment/Resources/Public/Css/appointment.css" name="ccappointment-custom-css" />

	<f:comment><!-- JS Assets --></f:comment>
	<v:asset.script path="EXT:cc_appointment/Resources/Public/JavaScript/Vendor/moment.min.js" name="moment-js" dependencies="jquery" />
	<v:asset.script path="EXT:cc_appointment/Resources/Public/JavaScript/Vendor/bootstrap-datetimepicker.min.js" name="bootstrap-datetimepicker-js" dependencies="moment-js" />
	<v:asset.script path="EXT:cc_appointment/Resources/Public/JavaScript/appointment.js" name="ccappointment-custom-js" dependencies="bootstrap-datetimepicker-js" />

</div>

<f:comment><!-- Render calendar --></f:comment>
<f:section name="Calendar">
	<fieldset>
		<legend>{f:translate(key: 'form.legend.calendar')}</legend>
		<div class="form-group form-group-inline-datepicker">
			<f:form.hidden id="calendar" property="date" value="{newInquiryStep2.date -> f:format.date(format: 'd.m.Y')}" />
		</div>
	</fieldset>
</f:section>

<f:comment><!-- Render timeslots--></f:comment>
<f:section name="Timeslots">

	<f:form.hidden id="appointment" name="appointment" value="{newInquiryStep1.appointment.uid}"/>
	<f:form.hidden id="timeFrom" property="timeFrom" value="{newInquiryStep2.timeFrom}" />
	<f:form.hidden id="timeTo" property="timeTo" value="{newInquiryStep2.timeTo}" />
	<fieldset>
		<legend>{f:translate(key: 'form.legend.timeslots')}</legend>
		<div class="timeslotWrapper form-group{f:render(partial: 'FormErrorsClass', arguments: {object: 'newInquiryStep2.timeslot'})}">
			<div id="timeslotError" class="alert alert-info text-center{f:if(condition: timeslots, then: ' hidden')}">
				<f:translate key="form.label.timeslots.unavailable" />
			</div>
			<div class="row text-center" id="timeslots">
				<f:for each="{timeslots}" as="timeslot">
					<div class="col-lg-6">
						<label for="{timeslot.timeFrom}" class="btn btn-default btn-block">
							<input class="hidden" type="radio" name="timeslot" id="{timeslot.timeFrom}" data-from="{timeslot.timeFrom}" data-to="{timeslot.timeTo}" />
							<f:translate key="form.label.timeFormat" arguments="{
											0: '{f:format.date(date: timeslot.timeFrom, format: \'H:i\')}',
											1: '{f:format.date(date: timeslot.timeTo, format: \'H:i\')}'}" />
						</label>
					</div>
				</f:for>
			</div>
			<f:render partial="FormErrors" arguments="{object: 'newInquiryStep2.timeslot'}" />
		</div>
	</fieldset>
</f:section>