<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Main">
        <f:render section="Search" arguments="{_all}"/>
        <f:if condition="{products} || {productsByCategory} || {productsByParentategory}">
            <f:then>
                <f:if condition="{products}">
                    <hr /><f:render section="ProductHits" arguments="{_all}"/>
                </f:if>
                <f:if condition="{productsByCategory}">
                    <f:for each="{productsByCategory}" as="categorytHit">
                        <f:if condition="{categorytHit.products}">
                            <hr /><f:render section="CategorytHits" arguments="{_all}"/>
                        </f:if>
                    </f:for>
                </f:if>
                <f:if condition="{productsByParentcategory}">
                    <f:for each="{productsByParentcategory}" as="parentcategoryHit">
                        <f:if condition="{parentcategoryHit.products}">
                            <hr /><f:render section="ParentcategoryHits" arguments="{_all}"/>
                        </f:if>
                    </f:for>
                </f:if>
            </f:then>
            <f:else>
                <div class="alert">{f:translate(key: 'label.noProducts')}</div>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="ProductHits">
        <div class="list product-list product-hits">
            <h2><f:translate key="label.productsearch.results" arguments="{0: '{products -> f:count()}'}" /></h2>
            <div class="row">
                <f:for each="{products}" as="product">
                    <f:render section="Product"
                              partial="Product/ListItem"
                              arguments="{_all}"/>
                </f:for>
            </div>
        </div>
    </f:section>

    <f:section name="CategorytHits">
        <div class="list product-list category-hits">
            <h2><span class="label-categoryParent">{categorytHit.categoryParentTitle}</span> : <span class="label-category">{categorytHit.categoryTitle}</span></h2>
            <div class="row">
                <f:for each="{categorytHit.products}" as="product">
                    <f:render section="Product"
                              partial="Product/ListItem"
                              arguments="{_all}"/>
                </f:for>
            </div>
        </div>
    </f:section>

    <f:section name="ParentcategoryHits">
        <div class="list product-list parentcategory-hits">
            <h2><span class="label-categoryParent">{parentcategoryHit.categoryParentTitle}</span></h2>
            <div class="row">
                <f:for each="{parentcategoryHit.products}" as="product">
                    <f:render section="Product"
                              partial="Product/ListItem"
                              arguments="{_all}"/>
                </f:for>
            </div>
        </div>
    </f:section>

    <f:section name="Search">
        <v:variable.set name="listViewPid" value="{v:variable.typoscript(path: 'page.search.pageUid')}" />
        <f:form action="list" class="form form-product-search form-product-detail-search" pageUid="{listViewPid}" object="{productsearch}" name="productsearch">
            <div class="form-group{f:render(partial: 'FormErrorsClass', arguments: {object: 'keyword'})}">
                <label for="productsearch-keyword" class="control-label"><f:translate key="label.productsearch.keyword" arguments="{0: keyword}" /></label>
                <div class="input-group">
                    <f:form.textfield property="keyword"
                                      id="productsearch-keyword"
                                      class="form-control"
                                      placeholder="{f:translate(key: 'LLL:fileadmin/Resources/Private/Language/locallang.xlf:label.template.search.placeholder')}"
                                      required="1"
                                      value="{f:if(condition: keyword, then: keyword)}"
                                      additionalAttributes="{required: 'required', data-validation: 'required', data-validation-error-msg: '{f:translate(key: \'search.validation.required\')}'}"/>
                </div>
                <f:render partial="FormErrors" arguments="{object: 'productsearch.keyword'}"/>
            </div>
        </f:form>
        <v:asset.script path="fileadmin/Resources/Public/JavaScript/Vendor/jquery.form-validator.min.js" name="validation" dependencies="jquery"/>
        <v:asset.script path="EXT:evoline_products/Resources/Public/JavaScript/evoline_products.js" name="evoline_products" dependencies="validation"/>
    </f:section>

</div>