<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Main">

        <v:variable.set name="listViewPid" value="{v:variable.typoscript(path: 'page.search.pageUid')}" />

        <f:form action="list" class="navbar-search-form" pageUid="{listViewPid}" object="{productsearch}" name="productsearch">
            <div class="form-group{f:render(partial: 'FormErrorsClass', arguments: {object: 'productsearch.keyword'})}">
                <div class="input-group">
                    <f:form.textfield property="keyword"
                                      id="productsearch-keyword"
                                      class="form-control"
                                      placeholder="{f:translate(key: 'LLL:fileadmin/Resources/Private/Language/locallang.xlf:label.template.search.placeholder')}"
                                      required="1"
                                      additionalAttributes="{required: 'required', data-validation: 'required', data-validation-error-msg: '{f:translate(key: \'search.validation.required\')}'}"/>
                </div>
                <f:render partial="FormErrors" arguments="{object: 'productsearch.keyword'}"/>
            </div>
        </f:form>

        <v:asset.script path="fileadmin/Resources/Public/JavaScript/Vendor/jquery.form-validator.min.js" name="validation" dependencies="jquery"/>
        <v:asset.script path="EXT:evoline_products/Resources/Public/JavaScript/evoline_products.js" name="evoline_products" dependencies="validation"/>

    </f:section>

</div>