.prev.disabled,
.next.disabled {
    visibility: hidden;
}

.picker-switch:hover,
.picker-switch:active,
.picker-switch:focus {
    background: transparent !important;
    cursor: default !important;
}