{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="form-group">
    <label class="control-label">{f:translate(key: 'conductorrail')}</label>
    <div class="row">
        <div class="col-sm-12">
            <label class="radio-inline">
                <f:form.radio property="conductorrail" checked="checked" value="1" /> {f:translate(key: 'conductorrail.available')}
            </label>
            <label class="radio-inline">
                <f:form.radio property="conductorrail" value="2" /> {f:translate(key: 'conductorrail.necessary')}
            </label>
        </div>
    </div>
    <f:render partial="FormErrors" arguments="{object: 'newInquiryStep3.conductorrail'}" />
</div>