{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="form-group{f:render(partial: 'FormErrorsClass', arguments: {object: 'newInquiryStep3.hall'})}">
    <label for="hall" class="control-label">
        <f:translate key="hall" /> <f:translate key="form.required" />
        <f:if condition="{badge}">
            <span class="badge badge-default">{badge}</span>
        </f:if>
    </label>
    <f:form.select property="hall" id="hall" class="form-control" prependOptionLabel="{f:translate(key: 'label.select')}" additionalAttributes="{required: 'required', data-validation: 'required', data-validation-error-msg: '{f:translate(key: \'form.validation.required\')}'}">
        <option value="1">{f:translate(key: 'hall.1')}</option>
        <option value="2">{f:translate(key: 'hall.2')}</option>
    </f:form.select>
    <f:render partial="FormErrors" arguments="{object: 'newInquiryStep3.hall'}" />
</div>