{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<label for="liftheightabove" class="control-label-grouped">
    <f:translate key="liftheightabove" />
</label>
<f:form.textfield property="liftheightabove" id="liftheightabove" class="form-control" additionalAttributes="{required: 'required', data-validation: 'required', data-validation-error-msg-required: '{f:translate(key: \'form.validation.required\')}', data-highlight: 'liftheightabove'}" />
<f:render partial="FormErrors" arguments="{object: 'newInquiryStep3.liftheightabove'}" />