<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:section name="Image">
		<v:variable.set name="image" value="{image.originalResource}" />
		<figure class="image">
			<a href="{image.publicUrl}" class="mfp-image image-lightbox">
				<f:image src="{image.uid}"
						 treatIdAsReference="1"
						 maxWidth="767"
						 maxHeight="575"
						 class="image-embed-item"
						 alt="{image.title}" />
			</a>
		</figure>
	</f:section>

</html>
